{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" href="">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Lab141</title>
    <style>
        th {
            border: 0px;
        }

        tr {
            border: 0px;
        }

        td {
            border: 0px;
        }

        .cart-container {
            border-radius: 20px;
            background-color: white;
            padding: 30px;
        }
    </style>
</head>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
    crossorigin="anonymous"></script>

<body class="bg-body-secondary">

    {% include './base/cabecalho.html' %}

    {% block conteudo %}

    {% endblock %}

    <main class="container my-5">
        <div>
            <h1 class="mb-4">Seu Carrinho</h1>
        </div>

        <div class="table-responsive cart-container shadow-sm" style="border-radius: 15px;">
            <!-- table-responsived >> responsividade em telas pequenas -->
            <table class="table align-middle">
                <!-- table align-middle >> centraliza as celulas verticais -->
                <thead class="table mb-0">
                    <tr>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th>Preço Unitário</th>
                        <th>Total</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <!-- d-flex >> flexbox o elemento sera organizado em linha -->
                                <!-- align-items-center >> alinhamento vertical ao centro da altura -->
                                <img src="" class="me-3" alt="Produto">
                                <!-- me-3 >> margin-end 3 -->
                                <div>
                                    <strong>Dragão</strong><br>
                                    <small>Dimensões: 15x30<br>Cor do filamento: verde<br>Pintura: sim</small>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex align-items-center gap-2">
                                <button class="btn btn-outline-secondary btn-sm btn-qty"
                                    onclick="alterarQtd(this, -1)">-</button>
                                <span class="qtd">1</span>
                                <button class="btn btn-outline-secondary btn-sm btn-qty"
                                    onclick="alterarQtd(this, 1)">+</button>
                            </div>
                        </td>
                        <td>R$ 79,90</td>
                        <td>R$ 79,90</td>
                        <td><button class="btn btn-sm btn-danger">Remover</button></td>
                    </tr>

                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="https://via.placeholder.com/60" class="me-3" alt="Produto">
                                <div>
                                    <strong>Plantas</strong><br>
                                    <small>Dimensões: 30x30<br>Cor do filamento: verde<br>Pintura: não</small>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex align-items-center gap-2">
                                <button class="btn btn-outline-secondary btn-sm btn-qty"
                                    onclick="alterarQtd(this, -1)">-</button>
                                <span class="qtd">1</span>
                                <button class="btn btn-outline-secondary btn-sm btn-qty"
                                    onclick="alterarQtd(this, 1)">+</button>
                            </div>
                        </td>
                        <td>R$ 199,00</td>
                        <td>R$ 398,00</td>
                        <td><button class="btn btn-sm btn-danger">Remover</button></td>
                    </tr>
                </tbody>
            </table>
            <div class="mt-4">
                <h6><strong>Forma de pagamento:</strong></h6>
                <!-- Aqui você pode inserir opções de pagamento -->
            </div>

            <div class="text-end mt-4">
                <button class="btn btn-dark btn-comprar">Comprar</button>
            </div>

        </div>
    </main>
</body>

</html>