<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de Cliente</h1>
    {% for cliente in lista_cliente %}
        <p>
            {{cliente.nome}} <a href="{% url 'atualizar_cliente' cliente.cpf %}">EDITAR</a> <a href="{% url 'deletar_cliente' cliente.cpf %}">DELETAR</a>
        </p>
    {% empty %}
        <p>Nenhum cliente cadastrado</p>
    {% endfor %}
</body>
</html>