<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de Compra</h1>
    {% for compra in lista_compra %}
        <p>
            {{compra.cliente}} <a href="{% url 'atualizar_compra' compra.id %}">EDITAR</a> <a href="{% url 'deletar_compra' compra.id %}">DELETAR</a>
        </p>
    {% empty %}
        <p>Nenhum compra Feita</p>
    {% endfor %}
</body>
</html>