{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Lab141</title>
</head>
<body>
    <p><a href="{% url 'perfil'%}">perfil</a></p>
    wow 
    daora né
    <img src="https://instagram.frec10-1.fna.fbcdn.net/v/t51.2885-19/472205812_1894204864442400_4370875847472697448_n.jpg?stp=dst-jpg_s150x150_tt6&efg=eyJ2ZW5jb2RlX3RhZyI6InByb2ZpbGVfcGljLmRqYW5nby4xMDgwLmMyIn0&_nc_ht=instagram.frec10-1.fna.fbcdn.net&_nc_cat=100&_nc_oc=Q6cZ2QHjmTITJeHixT9tuC1DvCizrR8NBgZLeXlXd7fAAnRpiBkLYO6AYdskkFR7JqLa1EI&_nc_ohc=UwbJvlCIlB4Q7kNvwGcXuTF&_nc_gid=IwixYOzqtLl6llktADb0aw&edm=AP4sbd4BAAAA&ccb=7-5&oh=00_AfQq6PkMNdEONgIY4rCpemCKB-DNaGOKn1eGxj0HAZ-PcA&oe=6886F4F1&_nc_sid=7a9f4b" alt="">
</body>
</html>