<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Lista de Produto</h1>
    {% for produto in lista_produto %}
        <p>
            {{produto.nome}} <a href="{% url 'atualizar_produto' produto.id %}">EDITAR</a> <a href="{% url 'deletar_produto' produto.id %}">DELETAR</a>
        </p>
    {% empty %}
        <p>Nenhum produto cadastrado</p>
    {% endfor %}
</body>
</html>