
body {
    background-color:  rgb(137, 23, 23);
    box-sizing: border-box;
    font-family: "Montserrat", serif;
    font-weight: 550;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  
  
    h1 {
      text-align: center;
      margin-bottom: 20px;
      font-size: 24px;
      color: #333;
    }
  
    /* Retângulo branco com bordas arredondadas */
    .container {
      background-color: white;
      border-radius: 15px; /* Bordas arredondadas */
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra */
      padding: 20px;
      max-width: 700px;
      width: 100%;
    }
  
    /* Estilização das seções internas */
    .section {
      margin-bottom: 20px;
      padding: 10px;
      border-bottom: 1px solid #e0e0e0; /* Linha de separação */
    }
  
    .section:last-child {
      border-bottom: none; /* Remove a linha da última seção */
    }
  
    /* Estilização dos produtos */
    .product {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
      padding: 10px;
      background-color: #f9f9f9;
      border-radius: 8px; /* Bordas arredondadas dos produtos */
    }
  
    .product button {
      background-color: #dc2f2f;
      color: white;
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
    }
  
    .product button:hover {
      background-color: rgb(137, 23, 23);;
    }
  
    /* Estilização do carrinho */
    .cart .cart-item {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
    }
  
    .total {
      margin-top: 10px;
      font-weight: bold;
      text-align: right;
    }
  
    /* Estilização do método de pagamento */
    .payment-method input {
      margin-right: 5px;
    }
  
    .hidden {
      display: none;
    }
  
    button {
      margin-top: 10px;
      padding: 10px;
      background-color: #dc2f2f; /* Cor de fundo do botão */
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  
    button:hover {
      background-color: rgb(137, 23, 23);
    }
  
  
  