*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #dc2f2f;
}

.carrinho {
    position: fixed; /* Fixa o botão na tela */
    bottom: 20px; /* Distância da parte inferior da janela */
    right: 20px; /* Distância da lateral direita */
    width: 60px; /* Largura do botão */
    height: 60px; /* Altura do botão, igual à largura para ser redondo */
    background-color: #df3f2e; /* Cor de fundo do botão */
    color: rgb(255, 255, 255); /* Cor do ícone ou texto */
    border: none; /* Remove bordas */
    border-radius: 50%; /* Torna o botão redondo */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Adiciona sombra para destacar */
    display: flex; /* Flexbox para centralizar o conteúdo */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    cursor: pointer; /* Mostra o cursor de mão ao passar o mouse */
    z-index: 1000; /* Garante que o botão fique acima de outros elementos */
    transition: transform 0.2s ease; /* Adiciona efeito ao interagir */
    font-size:1.5em;
}

/* Efeito ao passar o mouse */
.cart-button:hover {
    transform: scale(1.1); /* Aumenta ligeiramente o botão */
}

/* Efeito ao clicar */
.cart-button:active {
    transform: scale(0.9); /* Reduz ligeiramente o botão */
}


.topo{
    padding: 10px 0px 42px 50px;
    background-color: rgba(255, 255, 255, 0.8); 
    height: 45px;
    position: fixed;
    width: 100%;
    top: 0;
    font-weight: bold;
    color: #df3f2e;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 100px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.616), rgba(0, 0, 0, 0));
}



.title{
    color: rgb(227, 222, 222);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 5em;
    text-align: center;
    margin: auto;
    margin-top: 12%;
}

.logo img{
    color: white;
    width: 12em;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;

}

.bottons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 80px;
}

.bottons li{
    list-style-type: none;
    background-color: rgb(255, 255, 255);
    width: 2000px;
    height: 90px;
    text-align: center;
    font-size: 12px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px 10px 20px 0px;
    border: 1px solid rgb(158, 158, 158);
    border-radius: 10px;
}

.bottons li p img{
    width: 30px;
}

.bottons li a{
    text-decoration: none;
    color: black;
}

.bottons li:hover{
    border: 1px solid #0f49b4;
    box-shadow: 0px 0px 20px 2px #0f49b432;
}

.caminho{
    color: gray;
    margin-left: 2vw;
}

.conteudo-principal{
    display: flex;
    justify-content: center;
    min-width: 600px;
    margin-top: 20px;
}

.caminho a{
    text-decoration: none;
    color: gray;
    font-weight: bold;
}


.nome-cami{
    color: rgb(97, 97, 97);
    margin: 15px 0px 0px 5px;
    font-size: 18px;
    font-weight: bold;
}


.main-text{
    width: 900px;
    font-size: 25px;
    color: rgb(234, 227, 227);
    font-weight: lighter;
}

.h1{
    font-size: 35px;
    font-weight: bold;
}

.machu-picchu2{
    width: 850px;
    margin: auto;
    display: block;
}

.lista{
    width: 900px;
    font-size: 25px;
    color: rgb(68, 68, 68);
    font-weight: lighter;
    margin-left: 30px;
}

.div-table{
    display: flex;
    justify-content: center;
}

table{
    width: 400px;
    border-collapse: collapse;
    margin-bottom: 40px;
}
td, th{
    border: 2px solid rgb(231, 231, 231);
    text-align: left;
}
.thotel{
    background-color: #871919;
    color: white;
    padding: 10px 250px;
    border: none;
}

.tnota{
    background-color: #a32020;
    color: white;
    padding: 10px 20px;
    border: none;
}
.tlink{
    background-color: #871919;
    color: white;
    padding: 10px 40px;
    border: none;
}

td{
   padding: 10px;
}

tr:nth-child(odd) td{
    background-color: rgb(231, 231, 231);
}

.lista2{
    width: 900px;
    font-size: 25px;
    color: rgb(68, 68, 68);
    font-weight: lighter;
    margin-left: 30px;
}

.lista2 li{
    margin: 20px;
}

.bloco-verde{
    background-color: #F3FBEE;
    padding: 30px;
    padding-top: 80px;
    border: 2px dashed #D6F1C5;
    border-radius: 2px;
}

.lista3{
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: lighter;
    margin-left: 30px;
    list-style-type: none;   
}

.lista3 li{
    position: relative;
    padding-left: 20px;
    margin: 20px;
}

.lista3 li::before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #1b448f;
}

#veja-tudo{
    font-size: 20px;
    margin: 30px 0px 10px 100px;
}

footer{
    height: 15em;
    background-color: rgba(255, 255, 255, 0.8);
}

.bottonsf{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 80px;
}

.bottonsf li{
    list-style-type: none;
    background-color: rgb(255, 255, 255);
    width: 2000px;
    height: 60px;
    text-align: center;
    font-size: 12px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px 10px 20px 0px;
    border: 1px solid rgb(158, 158, 158);
    border-radius: 10px;
}
.bottonsf li p img{
    width: 30px;
}

.bottonsf li a{
    text-decoration: none;
    color: black;
}

.bottonsf li:hover{
    border: 1px solid #9b9b9b;
    box-shadow: 0px 0px 50px 2px #1a1a1a23;
}

.topicos{
    display: flex;
    justify-content: center;
}

.guia-d{
    background-color: rgba(255, 255, 0, 0);
    width: 400px;
    font-size: 1.2em;
    text-align: justify;
    color: white;
    margin: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}

.melhores-d{
    background-color: rgba(255, 0, 0, 0);
    width: 400px;
    font-size: 1.2em;
    text-align: justify;
    color: white;
    margin: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}


.acessos ul {
    display: flex;
    justify-content: center;
    list-style-type: none;

}

.acessos ul li{
    margin: 0px 20px 20px 20px;
    font-weight: bolder;
    color: white;
}
.acessos ul li a{
    text-decoration: none;
    color: white;
}


.hover-container {
    position: relative; /* Necessário para posicionar elementos filhos */
    display: inline-block; /* Ajusta-se ao tamanho do conteúdo */
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .hover-text {
    font-size: 1.5em;
    color: rgb(230, 17, 17);
    background-color: none;
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .hover-image {
    display: none; /* A imagem está inicialmente oculta */
    position: absolute; /* Sobrepõe o texto no mesmo local */
    top: 0;
    left: -30%;
    width: 200%; /* Ajusta-se ao tamanho do contêiner */
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  /* Quando o mouse passa sobre o contêiner */
  .hover-container:hover .hover-text {
    opacity: 0; /* Torna o texto invisível */
  }
  
  .hover-container:hover .hover-image {
    display: block; /* Mostra a imagem */
    
  }

  /*carrinho*/
  
  .cart-items {
    margin: 20px 0;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.cart-item:last-child {
    border-bottom: none;
}

.cart-item img {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    object-fit: cover;
}

.cart-item-details {
    flex-grow: 1;
    margin-left: 15px;
}

.cart-item-details h3 {
    margin: 0 0 5px;
    font-size: 1em;
}

.cart-item-details p {
    margin: 0;
    font-size: 0.9em;
    color: #666;
}

.cart-item-price {
    font-size: 1em;
    font-weight: bold;
}

.checkout {
    text-align: right;
    margin-top: 20px;
}

.checkout button {
    background-color: #ff5722;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.checkout button:hover {
    background-color: #e64a19;
}
  
