{% load static %}
<nav id="mainNavbar" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand fs-6 fw-semibold" href="#">
        <img id="logo" src="{% static 'logo.png' %}" alt="Logo" width="60" height="60" class="me-1">
        Lab141
      </a>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Catálogo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Carrinho</a>
        </li>
        <li class="nav-item">
          <button id="themeToggle" type="button" class="btn border-0 bg-transparent">
            <i class="bi bi-moon"></i>
          </button>
        </li>

        <li class="nav-item ms-3">
          <button type="button" class="btn btn-dark">Entrar</button>
        </li>
      </ul>
    </div>
  </nav>
  <script>
    const toggleButton = document.getElementById('themeToggle');
    const icon = toggleButton.querySelector('i');
    const navbar = document.getElementById('mainNavbar');
    const logo = document.getElementById('logo'); // logo
    window.onload = () => {
      document.body.style.zoom = '115%';
    }

    toggleButton.addEventListener('click', () => {
      const darkMode = !document.body.classList.contains('bg-dark');

      // Alterna classes no body
      document.body.classList.toggle('bg-dark', darkMode);
      document.body.classList.toggle('text-light', darkMode);


      // Alterna classes na navbar e troca a logo
      if (darkMode) {
        navbar.classList.remove('navbar-light', 'bg-body-secondary');
        navbar.classList.add('navbar-dark', 'bg-dark');
        icon.classList.replace('bi-moon', 'bi-sun');
        icon.classList.add('text-white');
        logo.src = "{% static 'logo-light.png' %}";
      } else {
        navbar.classList.remove('navbar-dark', 'bg-dark');
        navbar.classList.add('navbar-light', 'bg-body-secondary');
        icon.classList.replace('bi-sun', 'bi-moon');
        logo.src = "{% static 'logo.png' %}";
      }
    });
  </script>